.item a {
  color: rgb(232, 232, 232);

  text-decoration: none;
}
.item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.NavBlock {
  display: flex;
  flex-direction: column;
  
  width: 8vw;
  height: max-content;
  min-width: max-content;
  margin: 1vh 1vw;
  padding: 0.7rem; 
  background-color: rgb(42, 42, 42);
}
p{
  padding-left: 10px;
  font-size: medium;
}

@media (max-width: 1000px) {
  p {
  }
  .item{
    margin: 8px;
  }
  .boxnav{
    display: flex;
    flex-direction: row;
    align-items:flex-end;
    background-color: blue;
  }
  .nav{
    display: flex;
    flex-direction: row;
    align-items:flex-end;
  }
  .NavBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 60px;
    width: 100vw;
    min-width: max-content;
    margin: 1vh 1vw;
    padding: 0.2rem; 
    background-color: rgb(42,42,42);
  }
  .NavBlock2{
    width: max-content ;
  }
}