.NavBlock {
  display: flex;
  flex-direction: column;
  width: 8vw;
  height: max-content;
  min-width: max-content;
  margin: 1vh 1vw;
  padding: 0.7rem; 
}
.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 900;
  margin: 15px;

}
.item a {
  text-decoration: none;
}
.item :hover{
  border-radius: 10px;
  transition: 0.3s ease-in;
  color: rgb(255, 197, 4);
} 
img{
  width: 25px;
}

p{
  padding-left: 10px;
  font-size: large;
  margin:  7px;
}

@media (max-width: 1000px) {
  .NavBlock {

    bottom: 0;
    left: 0;

    height: auto;
    width: 100vw;
    min-width: max-content;
    margin: 0;
    padding: 0; 

    border-top: 0.5px solid black;

    background-color: rgb(224, 224, 224);

    z-index: 2;
  }
  .nav{
    display: flex;
    flex-direction: row;
    align-items:flex-end;
    justify-content: space-around;

    width: 100vw;
  }

  .item{
    margin: 8px;
  }


}