.ProfileInfoBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  border-radius: 5px;
  background-color: rgb(255, 255, 255);

  margin-bottom: 10px;
  padding: 10px;
}
.ProfileInfoBlock img{
  width: 100%;
}
.nameBlock {
  color: rgb(0, 0, 0);
}

.infoBlock {
  width: 400px;
  color: rgb(0, 0, 0);
}
@media (max-width: 1000px) {
  .ProfileInfoBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    border-radius: 5px;
    background-color: rgb(255, 255, 255);

    margin-bottom: 1rem;
  }
  .infoBlock {
    width: 50vw;
    color: rgb(0, 0, 0);
  }
}