.Post {
  color: rgb(0, 0, 0);
  font-size: 19px;
  display: grid;
  grid-template-areas:
    "img  name"
    "img  post"
    "like  like";
  grid-template-columns: 1.2fr 6fr;
  grid-template-rows: 70px auto 3rem;
  margin: 10px;
  border-bottom: 1px solid rgb(26, 26, 29);
}
.Post img {
  height: 100%;
  width: auto;
  grid-area: img;
  grid-row: span 2;
} 
.img_container{
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
   
  height: 100px;
  width: 100px;
  border-radius: 50%;

}

.name {
  grid-area: name;
  margin-bottom: 1rem;
  font-size:x-large

}

.messagePost{
  grid-area: post;
  margin-bottom: 1rem;
  grid-column-start: 2;
  margin-left: 1rem;
}

.likes {
  grid-area: like;
}