.Post {
  color: rgb(0, 0, 0);
  font-size: 19px;
  display: grid;
  grid-template-areas:
    "img  name"
    "img  post"
    "like  like";
  grid-template-columns: 1.2fr 6fr;
  grid-template-rows: auto ;
  margin: 10px;
  border-bottom: 1px solid rgb(26, 26, 29);
}
.Post img {
  height: 100%;
  width: auto;
  grid-area: img;
  grid-row: span 2;
}
.img_container {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 80px;
  width: 80px;
  border-radius: 50%;
  grid-row: 1 / span 2;
}

.name {
  grid-area: name;
  margin-bottom: 1rem;
  font-size: x-large;
}

.messagePost {
  grid-area: post;
  margin-bottom: 1rem;
  grid-column-start: 2;
  margin-left: 1rem;
}

.likes {
  grid-area: like;
}

@media (max-width: 1000px) {
  .img_container {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  
    margin: auto 0;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
  .likes {
    grid-area: like;
    z-index: -0;
  }
}
