.newsBlock{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;


    color: rgb(0, 0, 0);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);

    width: 40vw;
}