.app-wrapper {
  width: 85%;
  margin: 0 auto;
  display: grid;
  grid-template-areas: "h h" 
                       "n c"
                       "q c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px */
  box-shadow: 10px -15px 10px rgb(24, 24, 24);

}

.app-wrapper .app-wrapper-content {
  grid-area: c;
  background-color: rgb(45, 44, 44);
}

.root {
  background-color: rgba(3, 119, 214, 0);
}
a{
  text-decoration: none;
}
.active {
  text-shadow: 2px 2px 3px rgb(113, 131, 156);
  border-right: 7px solid rgb(56, 99, 255);

}
