.app-wrapper {
  width: 100vw;
  margin: 0 auto;
  /*   
  display: grid;
  grid-template-areas: "h h h" 
                       "n c c ";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.app-wrapper-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}
.image.png {
}
.root {
  background-color: rgba(3, 119, 214, 0);
  padding: 0px;
}
a {
  text-decoration: none;
}
.active {
  color: rgb(0, 0, 255);
  font-weight: bold;
}

@media (max-width: 1000px) {
  p {
      display: none;
  }
  .item{
    margin: 8px;
  }
  .navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    bottom: 0;
  }
}