.dialogs {
    display: grid;
    grid-template-areas: "a b";
    grid-template-columns: 2fr 10fr;
    z-index: 99;
}

.dialogs .message {
    background-color: rgb(183, 183, 183);
    border: 1px solid rgb(150, 150, 150);
    border-radius: 10px 10px 10px 0px;
    margin: 10px 20px;
    padding: 5px;
    max-width: max-content;
}

.myMessag {
    background-color: rgb(77, 77, 77);
    padding: 10px 10px; 
    border-radius: 0px 0px 5px 0px;
}

.dialogs .messages {
    background-color: rgb(44, 44, 44);
}

.dialogsItems {
    min-width: 170px;
    border-right: 1px solid rgb(36, 36, 36);
    grid-area: a;
    margin-right: 15px;
}

.dialogsItems a {
    color: rgb(214, 214, 214);
}



